.wrap-email-text {
  position: relative;
  width: 100%;
  max-width: 475px;
}

.wrap-input {
  width: 100%;
  max-width: 450px;
  padding: 17.5px 12px;
  border: none;
  height: 100%;
  font-size: 19px;
  color: #fff;
}

.wrap-input-placeholde {
  font-weight: 400;
  font-size: 19px;
  font-family: "Montserrat", sans-serif;
  color: #8c8c8c;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s;
}

.wrap-input-placeholder-top {
  font-size: 14px;
  top: 8px;
}

.wrap-right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
