.wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999999;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.7);
}

.detail-film {
  width: 60vw;
  overflow: hidden;
  background-color: #000;
  margin-top: 30px;
  border-radius: 4px;
  position: relative;
  z-index: 1000;
  margin-left: auto;
  margin-right: auto;
}

.detail-film-background-img {
  background-image: linear-gradient(
      0deg,
      rgb(0, 0, 0) 0px,
      rgba(0, 0, 0, 0) 100%
    ),
    url("https://image.tmdb.org/t/p/w1920_and_h800_multi_faces//k2twTjSddgLc1oFFHVibfxp2kQV.jpg");
  background-size: cover;
  background-position: 50%;
  position: relative;
}

.detail-film-title {
  padding-top: 300px;
  padding-left: 40px;
  padding-bottom: 50px;
}

.detail-film-name {
  color: #fff;
  font-size: 40px;
  font-family: "Archivo Black", sans-serif;
}

.detail-film-btn {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.btn-trailer {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.btn-trailer:hover {
  background-color: hsla(0, 0%, 100%, 0.603);
}

.detail-film-btn-feel {
  display: flex;
  align-items: center;
}

.btn-like,
.btn-rate {
  border: 2px solid rgb(204, 202, 202);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(42, 42, 42, 0.6);
  position: relative;
  margin-left: 15px;
}

.btn-close {
  position: absolute;
  background-color: #181818;
  top: 20px;
  right: 15px;
  border-radius: 50%;
  padding: 5px 10px;
  cursor: pointer;
}

.faHeart {
  position: absolute;
  top: 28%;
  left: 27%;
  color: #e50914;
  font-size: 20px;
}

.activeHeart {
  color: #fff !important;
}

.faStar {
  position: absolute;
  top: 25%;
  left: 24%;
  color: #fff;
  font-size: 20px;
}

.rating {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 4px;
  background-color: #3f3f3f;
  top: 100%;
  margin-top: 10px;
  padding: 7px 5px;
  display: flex;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}

.btn-rate-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #f7d411;
}

.activeStar {
  opacity: 1;
  visibility: visible;
}

.faWindowClose {
  margin-left: 5px;
  margin-right: 10px;
  transition: 0.5s;
  color: #fff;
  font-size: 20px;
}

.faWindowClose:hover {
  color: #757373;
}

.rating-group {
  position: relative;
  display: flex;
}

.faStar-group {
  padding: 0 3px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

.rating-group:hover .faStar-group {
  color: #f7d411;
}

.rating-group:hover ~ .faStar-group {
  color: #fff;
}

.wrap-detail-film-info {
  padding: 0 40px;
}

.detail-film-info {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
}

.detail-film-info-left {
  width: 100%;
}

.detail-film-info-date {
  font-size: 16px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.detail-film-info-date-release {
  margin-right: 10px;
}

.detail-film-info-rating {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  margin-top: 5px;
  font-size: 14px;
}

.detail-film-info-desc {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  line-height: 22px;
}

.detail-film-info-right {
  padding-left: 20px;
}

.detail-film-info-title {
  font-weight: 600;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #777;
}

.detail-film-info-name {
  font-weight: 400;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.detail-film-info-genres {
  margin-top: 15px;
}

.wrapper .open {
  display: flex;
}

.detail-film-recommend {
  display: block;
  max-height: 150vh;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 20px;
}

.detail-film-recommend-add {
  max-height: none;
}

.detail-film-recommend-title {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 24px;
  margin-bottom: 10px;
}

.add {
  max-height: none;
}

.wrap-detail-film-final {
  padding-bottom: 30px;
}

.wrap-detail-film-final-more-info {
  font-size: 20px;
  margin-top: 35px;
  position: relative;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.detail-film-recommend-more-btn {
  position: relative;
  z-index: 200;
  margin-top: -15px;
  height: 2px;
  background-color: rgba(73, 72, 72, 0.6);
}

.detail-film-recommend-more-wrap-icon {
  background-color: rgba(42, 42, 42, 0.6);
  border: 2px solid hsla(0, 0%, 100%, 0.5);
  border-radius: 50%;
  cursor: pointer;
  width: 45px;
  height: 45px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.faChevronDown {
  font-size: 28px;
  position: absolute;
  color: #fff;
  left: 23%;
  top: 4%;
  height: 100%;
  width: 100%;
}

.faChevronUp {
  font-size: 28px;
  position: absolute;
  color: #fff;
  left: 23%;
  height: 100%;
  width: 100%;
}

@media (max-width: 992px) {
  .detail-film {
    width: 90vw;
  }
}

@media (max-width: 650px) {
  .detail-film-info {
    flex-direction: column;
  }

  .detail-film-info-right {
    padding-left: 0;
  }
}
