.wrapper {
  background-color: #181818;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.recommendation-banner {
  position: relative;
  cursor: pointer;
  background-position: 50%;
  background-size: cover;
}

.recommendation-banner::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(0deg, rgba(0, 0, 0), rgba(0, 0, 0, 0) 100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.recommendation-img {
  max-width: 100%;
  display: block;
}

.recommendation-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.recommendation-title {
  margin-top: 10px;
  font-weight: 600;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.recommendation-date {
  margin-top: 10px;
  font-weight: 600;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.recommendation-desc {
  padding: 0 10px 10px;
  color: #777;
  margin-top: 10px;
  font-weight: 600;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.faHeart-recommendation {
  top: 28%;
  left: 27%;
  color: #fff;
  font-size: 16px;
}

.activeHeart-recommendation {
  color: #e50914 !important;
}
