.header {
  position: fixed;
  z-index: 9999;
}

.position-fixed {
  position: fixed !important;
}

.header-nav {
  position: fixed;
  right: 0;
  left: 0;
}

.home-header {
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
}

.home-header-content-left {
  display: flex;
  align-items: center;
}

.home-header-content-logo {
  font-size: 40px;
  color: #e50914;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}

.home-header-menu {
  margin-left: 20px;
}

.home-header-menu-link {
  margin-left: 20px;
  font-weight: 600;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.home-header-menu-link-active {
  color: #b3b3b3;
}

.home-header-menu-link:hover {
  color: #b3b3b3;
}

.home-header-content-right {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.home-header-search-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  margin-right: 20px;
}

.home-header-avata-group {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 0;
  position: relative;
}

.home-header-avata {
  width: 35px;
  height: 35px;
  border-radius: 4px;
  overflow: hidden;
}

.home-header-username {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  margin-left: 8px;
}

.home-header-span-down {
  margin-bottom: 5px;
  margin-left: 10px;
  color: #fff;
  transition: 0.5s;
}

.home-header-avata-group:hover .home-header-span-down {
  transform: rotateX(180deg) translateY(-50%);
}

.home-header-avata-group:hover .home-header-dropdown {
  visibility: visible;
  opacity: 1;
}

.nav-icon {
  display: none;
}

#btn-menu {
  display: none;
}

.home-mobile-search-group {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #fff;
  padding: 6px 8px;
  display: none;
}

.home-search-group {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #fff;
  padding: 6px 8px;
  display: none;
}

.show {
  display: block;
}

.mobile-btn-search {
  font-weight: 400;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  margin-left: 5px;
  display: block;
  background-color: #636262;
  padding: 2px 5px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none;
}

.home-header-menu-open {
  display: none;
}

.home-header-menu-mobile {
  display: none;
}

.home-header-user {
  border-bottom: 1px solid #333;
}

.home-header-avata-mobile {
  display: flex;
  padding: 10px 20px;
  align-items: center;
}

.home-header-detail {
  font-weight: 600;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  margin-top: 5px;
  cursor: pointer;
}

.home-header-logout-mobile {
  font-weight: 600;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  padding: 0 20px 10px;
  cursor: pointer;
}

.home-header-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.55);
  border: 1px solid hsla(0, 3%, 38%, 0.15);
  right: 5px;
  left: 0;
  top: 100%;
  padding: 5px 30px 5px 10px;
  visibility: hidden;
  opacity: 0;
}

@media (max-width: 992px) {
  .home-header-menu {
    display: none;
  }

  .home-header-menu-open {
    display: block;
    position: absolute;
    height: 100vh;
    top: 100%;
    left: -100%;
    width: 40vw;
    background-color: #000;
  }

  .open {
    left: 0;
  }

  .home-header-menu-mobile {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
  }

  .home-header-menu-link {
    margin-left: 0;
    margin-top: 8px;
  }

  .home-mobile-search-group {
    display: flex;
    padding: 5px;
    margin-right: 20px;
  }

  .nav-icon {
    display: block;
  }

  .home-header-detail {
    padding: 10px 20px;
    font-weight: 600;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
  }

  .home-header-content-right {
    display: none;
  }

  .home-header {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    flex-wrap: wrap;
  }
}
